{% extends "base.html" %}

{% block form %}
	<div class="row">
		<div class="col s12">
			<div class="section">
				<p>DOC ID: {{doc_id}}</p>
				
				{% if topic %}
					<p>
					Topic(s): 
					{% if topic.topics %}
						{% for item in topic.topics %}
							{{item}}{% if not forloop.last %},{% endif %}
						{% endfor %}
					{% else %}
						None
					{% endif %}
					{% if not topic.assigned %}
						(Generated)
					{% endif %}
					</p>
				{% endif %}

				<h5>{{document.title}}</h5>
				<p style="white-space: pre-wrap;">{{document.body}}</p>
			</div>
		</div>
	</div>
{% endblock %}
