{% extends "base.html" %}

{% block form %}
	<script type="text/javascript">
		// https://materializecss.com/autocomplete.html used for UI with manual functionality below
		$(document).ready(function(){
			$('input.autocomplete').autocomplete();
		});

		var courses_bigrams = {{courses_bigrams|safe}};
		var reuters_bigrams = {{reuters_bigrams|safe}};

		function setup_autocomplete(event, self) {
			var instance = M.Autocomplete.getInstance(self);

			// Update results if spacebar is clicked
			if (event.keyCode == 32) {
				var autofill_word = self.value.toLowerCase().trim().split(" ").slice(-1)[0];
				var autocomplete_data = {};
				
				var bigrams = {}
				if (document.getElementById('courses_collection').checked) {
					bigrams = courses_bigrams;
				} else if (document.getElementById('reuters_collection').checked) {
					bigrams = reuters_bigrams;
				}

				var words = bigrams[autofill_word];
				for (var word in words) {
					// https://via.placeholder.com used to generate image with conditional frequency 
					autocomplete_data[self.value.toLowerCase() + " " + word] = 'https://via.placeholder.com/250?text=' + words[word];
				}
				instance.updateData(autocomplete_data);
			} else { // Remove all results otherwise
				instance.updateData({});
			}
		}
	</script>

	<form action="result" method="GET" class="col s12">
		<div class="row">
			<div class="input-field col s9">
				<i class="material-icons prefix">account_circle</i>
				<input type="text" name="query" maxlength="100" required class="autocomplete" id="{{form.query.auto_id}}" onkeypress="setup_autocomplete(event,this)">
				{{form.query.label_tag}}
			</div>
			<button class="btn waves-effect waves-light" type="submit" name="action" style="margin: 1rem 0">Submit
				<i class="material-icons right">send</i>
			</button>
		</div>
		<div class="row">
			<h5 class="center">Settings</h5>
			<div class="input-field col s6">
				<p>Models:</p>
				{% for model in form.model %}
					<p>
						<label>
							{{model.tag}}
							<span>{{model.choice_label}}</span>
						</label>
					</p>
				{% endfor %}
			</div>
			<div class="input-field col s6">
				<p>Collections:</p>
					<p>
						<label>
							<input name="collection" value="courses" type="radio" id="courses_collection" checked/>
							<span>uOttawa Courses</span>
						</label>
					</p>
					<p>
						<label>
							<input name="collection" value="reuters" id="reuters_collection" type="radio"/>
							<span>Reuters</span>
						</label>
					</p>
			</div>
		</div>
	</form>
{% endblock %}